

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.sliding-container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -150%);
  animation:slideInToCenter 1s forwards;

  width:320px;                    
  aspect-ratio: 813/1134;
  
}

.sliding-container::-webkit-scrollbar{display:none;}

.sliding-image{
  width:100%;
  height:auto;
}


.handwriting{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);   
  width:auto;                       
  height:auto;

  scale: 39%;
  max-width:100%;               

  mix-blend-mode:screen;
  z-index:1;
}



.backImg {
  position: absolute;
  top: 1%;
  left: 2%;
  opacity: 100%;
  width: 65px;
  height: auto;
  z-index: 300;
}

.backImg:hover {
  content: url("index/images/ARROW\ 2.png");
}








@keyframes slideInToCenter {
  0% {
    transform: translate(-50%, -150%); 
  }
  100% {
    transform: translate(-50%, -50%); 
  }
}




